<div class="container">
    <mat-grid-list style="position: relative;" cols="3" rowHeight="225px">
        <mat-grid-tile colspan="2" rowspan="2" style="position: relative;">
            <owl-carousel-o class="slider1" [options]="customOptions">
                <ng-container>
                    <ng-template class="slide" carouselSlide id="1">
                        <img src="assets/img/1.jpg" alt="64" title="64">
                    </ng-template>
                    <ng-template class="slide" carouselSlide id="2">
                        <img src="assets/img/2.jpg" alt="64" title="64">
                    </ng-template>
                    <ng-template class="slide" carouselSlide id="3">
                        <img src="assets/img/3.jpg" alt="64" title="64">
                    </ng-template>
                    <ng-template class="slide" carouselSlide id="4">
                        <img src="assets/img/4.jpg" alt="64" title="64">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <div (click)="goToCategory(2)" class="side_img">
                <img src="assets/img/s1.jpg">
            </div>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <div (click)="goToCategory(1)" class="side_img">
                <img src="assets/img/s2.jpg">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="amazing_box">
    <div class="container" style="padding-top: 35px;">
        <div class="amazing_left">
            <mat-grid-list style="position: relative;" cols="1" rowHeight="70px">
                <mat-grid-tile colspan="1" rowspan="1">
                    <span style="font-size: 34px;color: white;text-shadow: 1px 1px 15px white;">Latest Products</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="3">
                    <img style="width: 210px;" src="assets/img/sale_icon.png">
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1">
                    <button mat-stroked-button color="primary" (click)="goToCategory(-1)" style="color: white;border: 2px solid white;">
            See All
            <mat-icon aria-hidden="false" aria-label="keyboard_arrow_right icon">keyboard_arrow_right</mat-icon>
          </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="amazing_right">
            <owl-carousel-o class="slider2" [options]="customOptions2" style="position: relative;">
                <ng-container>
                    <ng-template *ngFor="let item of sliderProduct" class="sale_item" carouselSlide>
                        <div (click)="goToProduct(item.id)" class="sliderImgBox">
                            <img src="{{item.imgUrl}}" />
                        </div>
                        <div class="title">{{item.Title}}</div>
                        <div class="price">Price: {{item.price}}$</div>

                        <button [disabled]="!isAuthenticated" mat-raised-button color="accent" class="add_card" (click)="addtoCard(item,item.id)">add to cart</button>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>



    </div>
</div>