.breadcrumbs {
    background-color: #ebebf5;
    padding: 18px;
    border-radius: 12px;
}

.breadcrumbs li {
    display: inline;
    padding: 0 10px;
    cursor: pointer;
}

.breadcrumbs li span {
    text-decoration-line: underline;
}

.breadcrumbs li::after {
    content: ">";
    padding-left: 10px;
}

.breadcrumbs li:last-child::after {
    content: '';
    cursor: none !important;
}

.product .img_box {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.product {
    background-color: white;
    border-radius: 10px;
}

.product img {
    max-height: 400px;
    max-width: 400px;
}

.product .q {
    float: left;
    background-color: #d8d8dc;
    padding: 4px;
    border-radius: 5px;
    border-left: 6px solid #d2a5a5;
}

.product .v {
    float: left;
    padding: 4px;
}

.body_text {
    margin-top: 15px;
    text-align: justify;
    text-align-last: left;
    font-size: 14px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    white-space: pre-line;
}

.related {
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    padding: 15px;
}

.related_title {
    width: 100%;
    background-color: #f7f5f5;
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.owl-item {
    border: 1px solid #e8e7e7 !important;
}

.sliderImgBox {
    width: 100%;
    height: 140px;
    padding-top: 20px;
}