<ng-container *ngIf="basket!= null && basket.items!= null && basket.items.length>0; else emptyBasket">
    <mat-list *ngFor="let item of basket.items">
        <mat-list-item class="basket">
            <img src="{{item.imageUrl}}">
            <div style="width: 150px;overflow: hidden; border-right: 1px solid whitesmoke;">{{item.title}}</div>
            <div>({{item.count}})</div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <mat-list>
        <mat-list-item>
            <button mat-flat-button color="warn" (click)="onClearBasket()">Clear Basket!</button>

            <button mat-flat-button color="primary" (click)="onOpenOrder()">Confirm Order</button>
        </mat-list-item>
    </mat-list>
</ng-container>
<ng-template #emptyBasket>
    <p style="padding: 20px;">Your basket is empty yet</p>
</ng-template>