<div class="container">
    <mat-tab-group>
        <mat-tab label="LogIn">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <mat-card class="example-card">
                    <b>
            <span>Login Form</span>
          </b>

                    <mat-grid-list cols="2" rowHeight="12:1">
                        <mat-grid-tile>
                            <mat-form-field class="auth-field">
                                <mat-label>Username(email)</mat-label>
                                <input [(ngModel)]="login.email" name="email" type="email" matInput required placeholder="email@domain.com">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="auth-field">
                                <mat-label>password</mat-label>
                                <input [(ngModel)]="login.password" name="password" type="password" matInput required placeholder="******">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <mat-grid-list cols="2" rowHeight="10:1" style="padding-top: 30px;">

                        <button mat-raised-button style="margin-right: 30px;" (click)="onReset()">reset form</button>
                        <button mat-raised-button color="primary" [disabled]="!authForm.valid" type="submit">Login</button>

                    </mat-grid-list>
                </mat-card>

            </form>
        </mat-tab>

        <mat-tab label="Sign Up">
            <form #signUpForm="ngForm">

                <mat-card class="example-card">
                    <b>
            <span>Sign up Form</span>
          </b>
                    <mat-grid-list cols="2" rowHeight="12:1">
                        <mat-grid-tile>
                            <mat-form-field class="auth-field">
                                <mat-label>Name</mat-label>
                                <input name="name" [(ngModel)]="UserProfile.name" matInput required placeholder="Name" value="">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="auth-field">
                                <mat-label>lastName</mat-label>
                                <input name="lastName" [(ngModel)]="UserProfile.lastName" matInput required placeholder="lastName" value="">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-form-field class="auth-field">
                                <mat-label>PostalCode</mat-label>
                                <input name="PostalCode" [(ngModel)]="UserProfile.postalCode" matInput required placeholder="PostalCode" value="">
                            </mat-form-field>
                        </mat-grid-tile>

                        <mat-grid-tile align="left">
                            <mat-form-field class="auth-field">
                                <mat-label>birthDay</mat-label>
                                <input align="left" name="birthDay" [(ngModel)]="UserProfile.birthDay" matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>

                    </mat-grid-list>

                    <mat-grid-list cols="1" rowHeight="12:1">
                        <mat-grid-tile>
                            <mat-form-field class="auth-field" style="width: 65%;">
                                <mat-label>Address</mat-label>
                                <input name="Address" [(ngModel)]="UserProfile.address" matInput required placeholder="Address" value="">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="2" rowHeight="12:1">

                        <button mat-raised-button style="margin-right: 30px;">reset form</button>
                        <button mat-raised-button color="primary">Submit</button>
                    </mat-grid-list>
                </mat-card>
            </form>
        </mat-tab>

    </mat-tab-group>





</div>