.auth-field {
    position: absolute;
    left: 0;
    margin-left: 20px;
    margin-right: 30px;
}

.auth-field-signup {
    margin-left: 20px;
    margin-right: 30px;
    width: 300px;
}

.auth-field-signup-full {
    width: 90%;
    margin-left: 20px;
}